body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff4500;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

img {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
